@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#1a1a1a] select-none;
    }

    .animate-spin {
        animation: spin 5s linear infinite !important;
    }
}

@layer utilities {
    .sidebar-wrapper {
        @apply fixed z-30 top-0 bottom-0 left-0 w-full transition-all
        duration-200 max-w-[300px] bg-neutral-800;
    }

    .li-style {
        @apply w-full p-4 text-center text-xl
        text-neutral-500 cursor-pointer;
    }

    .li-style:hover {
        @apply bg-neutral-700;
    }

    #sidebarToggle:checked ~ .sidebarArea {
        transform: translate(0) !important;
        visibility: visible !important;
    }
}